.card-custom-link {
  text-decoration: none;
}

.card-custom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  width: 200px;
  position: relative;
  margin: 20px auto;
  box-shadow: 0px 0px 40px 10px black;
  color: black;
  text-decoration: none;
  height: 100%;
}
.card-custom-header {
  height: 100%;
  background: no-repeat center;
  opacity: 0.9;
  background-size: cover;
  width: 100%;
}
.card-custom-title {
  font-size: 0.7em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding:10px 0;
  margin: 0;
}

.diets-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-diet {
  font-weight: 700;
  font-size: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 5px;
}

.card-score {
   padding: 5px;
   font-size: 0.7em;
}

.card-button {
  background: #212129;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 10px;
  padding: 0.5em 1em;
  transition: 300ms;
  justify-self: end;
  height: 100%;
}
.card-button:hover {
  background: #a3031d;
  transition: 300ms;
  cursor: pointer;
}

@media (min-width: 950px) {
  .card-custom-link {
    text-decoration: none;
  }

  .card-custom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    width: 400px;
    position: relative;
    margin: 0px auto;
    box-shadow: 0px 0px 40px 10px black;
    color: black;
    text-decoration: none;
    height: 100%;
  }
  .card-custom-header {
    height: 100%;
    background: no-repeat center;
    opacity: 0.9;
    background-size: cover;
    width: 400px;
  }
  .card-custom-title {
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 20px;
  }

  .diets-container {
    display: flex;
    flex-direction: row;
  }

  .card-diet {
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 10px;
  }

  .card-score {
    font-size: 1.5em;
  }

  .card-button {
    background: #212129;
    color: white;
    height: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    display: block;
    text-align: center;
    padding: 8px 0;
    transition: 300ms;
    justify-self: end;
  }
  .card-button:hover {
    background: #a3031d;
    transition: 300ms;
    cursor: pointer;
  }
}
