.button1 {
    display: block;
    margin-top: 20px;
    background: #212129;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    transition: 300ms;
    align-self: center;
    padding: 10px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
 }
 .button1:hover{
     background: #a3031d;
     transition: 300ms;
     cursor: pointer;
 }

 .inputsConteiner{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .input{
    margin-top: 20px;
    background: #212129;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    transition: 300ms;
    align-self: center;
    padding: 10px;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
 }

 .checkboxs{
    margin-top: 20px;
    background: #212129;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    transition: 300ms;
    padding: 10px;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
 } 


 .titlee{
     margin-top: 20px;
     font-size: 5rem;
     margin-right: auto;
     margin-left: auto;
 }
