

    .button1 {
      background: #212129;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      text-align: center;
      padding: 8px 0;
      transition: 300ms;
      padding: 10px;
      border: 2px solid black;
      align-self: center;
      margin-right: 20px;
   }
   .button1:hover{
       background: #a3031d;
       transition: 300ms;
       cursor: pointer;
       
   }
  
   option {
    background: #212129;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      text-align: center;
      padding: 8px 0;
      transition: 300ms;
      justify-self: end;
      padding: 10px;
      border: 2px solid black;
   }
   option:hover{
    background: #a3031d;
    transition: 300ms;
    cursor: pointer;
    
   }