
    .button1 {
        background: #212129;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: 8px 0;
        transition: 300ms;
        justify-self: end;
        padding: 10px;
        border: 2px solid black;
     }
     .button1:hover{
         background: #a3031d;
         transition: 300ms;
         cursor: pointer;
         
     }

     .search {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: 8px 0;
        transition: 300ms;
        justify-self: end;
        padding: 10px;
        width: 200px;
     }

     .conteiner {
         display: flex;
         flex-direction: column;
         margin-right: 20px;
     }
    
     .button2 {
        background: #212129;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: 8px 0;
        transition: 300ms;
        justify-self: end;
        padding: 10px;
        border: 2px solid black;
        margin-top: 5px;
     }
     .button2:hover{
         background: #a3031d;
         transition: 300ms;
         cursor: pointer;
         
     }

     .input {
        background: #212129;
        color: white;
        font-weight: bold;
        display: block;
        text-align: center;
        padding: 8px 0;
        transition: 300ms;
        justify-self: end;
        padding: 10px;
        border: 2px solid black;
     }
     .input:hover{
         background: #a3031d;
         transition: 300ms;
         cursor: pointer;
         
     }